# WSL / Windows artefacts
**/*:Zone.Identifier

# IDEs and editors
**/.idea/*
!**/.idea/runConfigurations/
!**/.idea/codeStyleSettings.xml
!**/.idea/saveactions_settings.xml
!**/.idea/codeStyles
.idea/*
**/openapi-maven-plugin.iml
!.idea/runConfigurations/
!.idea/codeStyles
!.idea/saveactions_settings.xml
*.iml
